@use '@assets/css/color_variables' as color_variables;

.leftPanel {
  display: flex;
  flex-direction: column;
  min-width: 234px;
  height: 100%;
  margin-top: 5px;
  transition: min-width 0.2s;
  background-color: color_variables.$lighter-gray;

&.collapsed {
  min-width: 30px;

  .MuiListItemText-root {
    display: none;
  }
}

.toggle-icon {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border: none;
  margin-top: auto;
  color: color_variables.$comet-gray;
}

}